.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    &__text-wrapper {
        display: flex;

        justify-content: center;



        h1 {
            color: var(--yellow-theme-main-color);
            margin: 0;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30, end);
            margin-left: 24rem;
        }
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        margin-top: 15px;

        button {
            cursor: pointer;
            padding: 10px 65px;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;
            position: relative;
            top: 15rem;
            left: -45rem;

            &:hover {
                background: var(--yellow-theme-main-color);
                color: black;
            }
        }
    }
}


@media only screen and (max-width : 550px) {
    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

}
@media only screen and (min-width :360px) and (max-width:550px) {

    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
        text-align: center;
        justify-content: center;
        padding-right: 85px;
        padding-left: 0;
    }
    #btn{
        justify-content: center;
        padding: 4px 35px;
        left:-260px;
        
    }

}

@media only screen and (min-width :551px) and (max-width:768px) {

    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
    #btn{
        justify-content: center;
        padding: 6px 45px;
        left:-260px;
        
    }

}

@media only screen and (min-width: 769px) and (max-width:990px) {
    .home__text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }
    #btn{
        justify-content: center;
        align-items: center;
        padding: 8px 65px
        
    }

}

@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}